<%# サイドバーヘッダー %>
<div class="side-bar-header">
  <%= link_to current_user.name, edit_user_path(current_user), class: "user_name" %>
  <a href="#" class="new_chat_link">チャットを作成する</a>
</div>

<%# ルーム画面 %>
<div class="rooms">
  <a href="#" class="room_name">techroom1</a>
  <a href="#" class="room_name">techroom2</a>
</div>