<div class="side-bar-header">
  <div class="user_name">Tyler</div>
  <a href="#" class="new_chat_link">チャットを作成する</a>
</div>

<div class="rooms">
  <a href="#" class="room_name">techroom1</a>
  <a href="#" class="room_name">techroom2</a>
</div>